<!-- Main Attention Grabbing Div -->
<div class = "card grey darken-3">
    <h1 class="center-align red-text darken-4">Super Punch Legacy</h1>
    <!-- Our div to display inline -->
    <div class = "headline valign-wrapper">
        <h3 class = "white-text" style = "float: left; display: inline-block; width: 50%;">A fight for peace is a fight nonetheless...</h3>
        <!-- Youtube video -->
        <h5 class = "white-text center-align" style = "float: right; display: inline-block; width: 50%;">Video coming soon!</h5>
    </div>

    <!-- call to action button -->
    <div class = "center-align">
    <button class="waves-effect waves-light btn-large red darken-4 white-text">Support us now!</button>
    <br>
    <br>
    </div>
</div>

<!-- Screenshots/GamePlay Gifs -->
<div style="height: 550px" disable-animation="true">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;" width = "1000px" height = "500px">
      <div class="carousel-caption">
      </div>
    </slide>
  </carousel>
</div>
